/* Font
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Plus+Jakarta+Sans:wght@300;400;500;600;700,800&display=swap");

body {
  /* font-family: "Poppins", sans-serif; */
/* font-family: "Plus Jakarta Sans", sans-serif;
  text-color: "#A4A4A4"; */
/* } */

/* Event Card List */
.card-slideshow::after {
  content: "";
  flex: 0 0 2rem;
}

.card-slideshow::-webkit-scrollbar {
  display: none;
}

@layer utilities {
  @variants responsive {
    /* Hide scrollbar for Chrome, Safari and Opera */
    .no-scrollbar::-webkit-scrollbar {
      display: none;
    }

    /* Hide scrollbar for IE, Edge and Firefox */
    .no-scrollbar {
      -ms-overflow-style: none; /* IE and Edge */
      scrollbar-width: none; /* Firefox */
    }
  }
}
